html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex{
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-between;

}

/*HEADER*/

#zaglavlje{
    margin-bottom: 4em;
}

#logo{
    max-width: 16em;
    margin-top: 2em;
}

/*navigacija(HEADER)*/

#navigacija{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 0.3em 0em;
    box-shadow: 0px 1px 2px 0px;
}

ul{
    list-style-type: none;
    display: table;
    padding: 0em 2em;
    margin: 0.5em 0em;
}

ul.tijelo_2{
    list-style-type: none;
    display: flex;
    padding: 0em 0em;
    justify-content: space-between;
}

li{
    float: left;
    padding: 0em 1em;
}

li > a{
    text-decoration: none;
    font-weight: bold;
    color: black;

    background-image: linear-gradient(
      to right,
      #0E3580,
      #0E3580 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
 li > a:before {
    content: '';
    background: #0E3580;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
 li > a:hover {
   background-position: 0;
  }
  
 li > a:hover::before {
    width:100%;
  }

  /*body*/
  body{
      margin: auto;
  }

/*MAIN*/

.tijelo{
    max-width: 65%;
    margin: 0 auto;
}

.tijelo_2{
    width: 80%;
    margin: 0 auto;
}

.administracija{
    max-width: 65%;
    margin: 0 auto;
    text-align: center;
}


.center{
    text-align: center;
}

/*clanak(MAIN)*/
.clanak{
    max-width: 18%;
    margin-top: 1em;
}

h5.podnaslov_clanka{
    color: darkslategrey;
    margin: 2.5em 0em;
}

img.slika_clanka{
    display: block;
    width: 100%;
    height: auto;
}

img#slika_clanak_zasebni{
    max-width: 100%;
}

#slika_clanak2{

    max-width: 20%;
}

#tekst_clanak{
    font-size: small;
    margin-top: 3em;
}

.clanak_link{
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  .clanak_link:hover .overlay {
    opacity: 0.3;
  }
  .overlay_tekst{
    position: absolute;
    transition: .5s ease;
    top: 0;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }

  .tekst {
    position: relative;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 1em;
    top: 10%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .clanak_link:hover .tekst {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }


/*FOOTER*/

#podnozje{
    background-color: #f5f5f5;
    text-align: right;
    margin-top: 4em;
    margin-bottom: 2em;
}

#podnozje_2{
    background-color: darkslategrey;
    padding: 1em 0em;
    margin-top: 4em;
}

.omotac_footer{
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

h6{
    margin: 0.5em 0em;
}

h6.tijelo{
    padding: 2em 0em;
    color: grey;
}

h6.tijelo_2{
    margin: 0 auto;
    position: relative;
    display: inline-flex;
    flex-direction: row-reverse;
}

ul.tijelo_2 > li{
    float: left;
    padding: 0em 2.32em;
}

.bojaPoruke{
    color: firebrick;
    font-size: x-small;
}
